.container
    .row
        div.col-lg-8.col-md-10.mx-auto 
            DIV ADD NEW POSTS
            form(method='post' action="/post/add" enctype="multipart/form-data" style="display:flex; flex-direction:column")  
                input.form-control(type="text" name="title" placeholder="title")
                input.form-control(type="text" name="post" placeholder="post")  
                if authors
                    select(name="author")
                        for author in authors
                            option(value=author.autor)=author.author 
                if categories
                    select(name="category")
                        for category in categories
                            option(value=category.category)=category.category                 
                input.form-control(name='mainimage', type='file' ) 
                button.btn-primary(type='submit') ADD
            if posts
                h3 POST LIST    
                    ul
                        for post in posts
                            li.btn(style="text-align:left;margin:0;padding:0; display:flex; justify-content: space-between;align-items: center;")=post.title
                                div(style="display:flex")
                                    form(style="display:flex;" action='/post/del' method='post')
                                        input(style="display:none;" type="text" value=post._id name="post_to_del")
                                        button(type='submit') X 
                                    form(style="display:flex;" action='/post/edit' method='post')
                                        input.form-control(style="display:none;" type="text" value=post._id name="post_to_del")
                                        button(type='submit') EDIT  