<!DOCTYPE html>
html(lang="en")
    include includes/head.pug
    body
        -var url='/img/admin.jpg';
        -var title='ADMIN';
        -var subtitle='ADMIN BLOG';
        nav.navbar.navbar-expand-lg.navbar-light.fixed-top(id="mainNav")
            div.container
                a.navbar-brand(href="/") NODE BLOG
                button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation") Menu
                    i.fas.fa-bars
                div.collapse.navbar-collapse(id="navbarResponsive")
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a.nav-link(href="/") Home     
                        li.nav-item
                            a.nav-link(href="/about") About
                        li.nav-item
                            a.nav-link(href="/contact") Contact
        header.masthead(style=`background-image: url(${url})`)
            div.overlay
            div.container
                div.row
                    div.col-lg-8.col-md-10.mx-auto
                        div.site-heading
                            h1 #{title}
                            span.subheading #{subtitle}
                    div.col-lg-8.col-md-10.mx-auto
                            ul.navbar-nav.ml-auto
                                li.nav-item
                                    a.nav-link(href="/admin/comments" style="color:white") COMMENT     
        div.container
                div.row(style="display:block")
                    .media-body(style="display:flex")
                        .comment_element="Date"
                        .comment_element="Name"
                        .comment_element="Comment"
                        .comment_element="Post"
        div.container
                div.row(style="display:block")
                    if comments
                        -comments.sort(function(a,b){return b.commentDate - a.commentDate;})
                        for comment  in comments
                            .media-body(style="display:flex")
                                div.comment_element=moment(comment.commentDate).format("DD")+" "+moment(comment.commentDate).format("MMM")
                                h5.mt-0.mb-1.comment_element=comment.name
                                div.comment_element=comment.comment
                                for post in posts
                                    if comment.postid == post._id
                                        div.comment_element=post.title
                                        form(method='post' action="/comment_action")
                                            input(type='hidden' name='comment_id' style="display:none" value=comment._id)
                                            div.comment_element(style="display:flex; justify-content:space-between;align-items:center")   
                                                if (comment.aproove==true)
                                                    input(type="radio" name='action' value="aproove" checked)
                                                    div apr
                                                    input(type="radio" name='action' value="disaprove")
                                                    div disapr
                                                    input(type="radio" name='action' value="del")
                                                    div del  
                                                else
                                                    input(type="radio" name='action' value="aproove" )
                                                    div apr
                                                    input(type="radio" name='action' value="disaprove" checked)
                                                    div disapr
                                                    input(type="radio" name='action' value="del")
                                                    div del 
                                                button(type='submit') APL  
                                        
