<!DOCTYPE html>
html(lang="en")
    include includes/head.pug
    body
        -var url='/img/admin.jpg';
        -var title='post edit';
        -var subtitle='';
        include includes/header.pug
        .container
            .row
                div.col-lg-8.col-md-10.mx-auto 
                    form(method='post' action="/post_editing" style="display:flex;  flex-direction:column")
                        input(style="display:none;" type="text" value=post._id name="post_to_ed")
                        input(type="text" name="title" value=post.title)
                        input(type="text" name="post" value=post.post)
                        if authors
                            select(name="author")
                                for author in authors
                                    if post.author===author.author
                                        option(value=author.autor selected)=author.author 
                                    else 
                                        option(value=author.autor)=author.author 
                        if categories
                            select(name="category" value=post.category)
                                for category in categories
                                    if post.category=category.category
                                        option(value=category.category selected)=category.category                 
                                    else
                                        option(value=category.category)=category.category                 
                        img(src=`/uploads/${post.mainimage}` style="width:50px;height:50px" alt='' )
                        input(name='mainimage', type='file' value=post.mainimage ) 
                        button.btn-primary(type='submit') EDIT
                        a.btn-primary(href="/admin" style="text-align:center") DISCART

        