<!DOCTYPE html>
html(lang="en")
    include includes/head.pug
    body
        -var url='/uploads/'+post.mainimage;
        -var title=post.title;
        -var subtitle=' ';
        include includes/header.pug
        .container
            .row
                .col-lg-12.col-md-12.mx-auto=post.post
                div
                    -let comments_count=0
                    button.btn.btn-link
                        i.fas.fa-comment
                        if comments
                            for comment  in comments
                                if  comment.postid == post._id
                                    -comments_count++;
                        span=comments_count
                .col-lg-12.col-md-12.mx-auto
                    if comments
                        for comment  in comments
                            if  comment.postid == post._id
                                if comment.aproove==true
                                    .media
                                        .media-body
                                            h5.mt-0.mb-1=comment.name
                                            div=comment.comment
                                            div=moment(comment.commentDate).format("DD")+" "+moment(comment.commentDate).format("MMM")
                .col-lg-12.col-md-12.mx-auto
                    form(method='post' action="/add_comment")
                        input(type="text" style="display:none" name="postid" value=post._id)
                        input(type="text" style="display:none" name="aproove" value="true")
                        .form-group
                            label Name
                            input#exampleInputEmail1.form-control(type='text' name="name" )
                        .form-group
                            label Email address
                            input#exampleInputEmail1.form-control(type='email' name="email" placeholder='Enter email')
                            small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.
                        .form-group
                            label(for='exampleInputPassword1') Comment
                            input#exampleInputPassword1.form-control(type='text' name="comment" placeholder='comment')
                        button.btn.btn-primary(type='submit') Submit
        include includes/footer.pug